<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <h1>Welcome to the Admin Panel</h1>
    <a href="/signout" class="text-green-600">Sign-out</a>
    <ul>
        <li><a href="/create-session">Create a Sport</a></li>
        <li><a href="/reports">View Reports</a></li>
    </ul>
</body>
</html>
