<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <h1>SPORTS SCHEDULER</h1>
  <p class="py-2">Welcome to the sports-scheduler</p>
  <p class="py-2">New here?<a href="/signup" class="text-green-600">Sign-up now</a></p>
  <p class="py-2">Already have an account?<a href="/login" class="text-green-600">Sign-in</a></p>
</body>
</html>
