<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Welcome</h1>
  <a href="/signout" class="text-green-600">Sign-out</a>
  <p>Create or join a session:</p>
  <ul>
    <li><a href="/admin?userId=<%= userId %>">Admin</a></li>
    <li><a href="/sports">player</a></li>
  </ul>
</body>
</html>
