<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<style>
  .top-links {
            text-align: right;
            margin-bottom: 30px;
            padding: 10px;
        }

        .top-links a {
            margin-left: 10px;
            color: #337ab7;
        }
</style>
<body>
  <div class="top-links">
    <a href="/edit-profile" class="text-blue-600">Edit Profile</a>
  </div>
  <h1>Welcome</h1>
  <a href="/signout" class="text-green-600">Sign-out</a>
  <p>Create or join a session:</p>
  <ul>
    <li><a href="/admin?userId=<%= userId %>">Admin</a></li>
    <li><a href="/sports">player</a></li>
  </ul>
</body>
</html>
