<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<style>
   body {
      background-image: url('https://onaircode.com/wp-content/uploads/2019/09/background-wave-1024x575.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh; 
      margin: 0; 
      display: flex; 
      align-items: center; 
    }
    
    .container {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background for better readability */
    }
  .top-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
  }

  .top-links a {
    margin-left: 10px;
    color: #337ab7;
  }
</style>
<body>
  <div class="container">
  <div class="top-links">
    <a href="/edit-profile" class="text-blue-600">Edit Profile</a>
    <a href="/signout" class="text-green-600">Sign-out</a>
  </div>
  <h1>Welcome</h1>
  <div class="notify">
    <div class="error" style="color: red;">
        <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i = 0; i < messages.error.length; i++) { %>
                <p> <%= messages.error[i] %></p>
            <% } %>
        <% } %>
    </div>
  </div>
  <p>Sigin in as a?:</p>
  <ul>
    <li><a href="/admin?userId=<%= userId %>">Admin</a></li>
    <li><a href="/sports">Player</a></li>
  </ul>
  </div>
</body>
</html>
